<div class="container">  
  <div class="row mb-3 mt-3">
    <div class="col-4">
      <input [(ngModel)]="phrase" type="text" class="form-control">
      <!-- {{ phrase }} -->
    </div>
    <div class="col-2">
      <select [(ngModel)]="filterKey" class="form-control">
        <option value="" selected>any</option>
        <option *ngFor="let col of columns" [value]="col.key">
          {{ col.title }}
        </option>
      </select>
    </div>
  </div>
  <table class="table table-hover table-sm list-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list | filter:phrase:filterKey">
        <td *ngFor="let col of columns">
          {{ item[col.key] }}
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="list-card">
    <div class="row">
      <div *ngFor="let item of list" class="col-12 col-sm-6 col-md-4">
          <app-detail-card [item]="item"></app-detail-card>
      </div>
    </div>
  </div>
</div>