<div class="container">  
  <table class="table table-hover table-sm list-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td *ngFor="let col of columns">
          {{ item[col.key] }}
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="list-card">
    <div class="row">
      <div *ngFor="let item of list" class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.itemCode }}</h6>
            <p class="card-text">{{ item.description }}</p>
            <p><b>{{ item.price }}</b></p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>